{% extends "base.html" %}

{% block app_content %}

<br>
<br>
<p class="text-center bigger" > Sign Up </p>
<div class="card center" style="width: 24rem;">
    <div class="card-body">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="special">
            {{ form.username.label }}<br>
            {{ form.username(size=48) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="special">
            {{ form.email.label }}<br>
            {{ form.email(size=48) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="special">
            {{ form.password.label }}<br>
            {{ form.password(size=48) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="special">
            {{ form.password2.label }}<br>
            {{ form.password2(size=48) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <p class="text-center special">{{ form.submit() }}</p>
    </form>
    </div>
</div>
<br>
{% endblock %}