{% extends "base.html" %}

{% block app_content %}
<br>
<br>
<!--<p class="text-center bigger" > Reset Password </p>-->
<div class="card center" style="width: 24rem;">
    <div class="card-body">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="special">
            {{ form.email.label }}<br>
            {{ form.email(size=48) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <p class="text-center special">{{ form.submit() }}</p>
    </form>
    </div>
</div>
<br>
{% endblock %}