{% extends "base.html" %}

{% block app_content %}
<br>
<br>
<p class="text-center bigger" > Reset Your Password </p>
<div class="card center" style="width: 24rem;">
    <div class="card-body">
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p class="special">
            {{ form.password.label }}<br>
            {{ form.password(size=48) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="special">
            {{ form.password2.label }}<br>
            {{ form.password2(size=48) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <br>
        <p class="text-center special">{{ form.submit() }}</p>
    </form>
    </div>
</div>
<br>
{% endblock %}