html,
body {
  height: 100%;
}

#footer {
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 180px;
  clear: both;
}

.left {
    width: 20rem;
}

#navigation,.navbar .navbar-default{
  background-image: url("img/landing.jpg");
}

.custom{
    color:black;
    margin-left: 10px;
}