{% extends "base.html" %}
{% block app_content %}
<br>
<div class="container down">
  <div class="row">
    <div class="col-sm">
        <p class="capture"> Share Your PR's With Your Friends </p>
    </div>
    <div class="col-sm">
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
      <p >MyPR is a blog style application that allows users to share their weight lifting and sports related personal records as well
    as any other fitness related posts with their friends.</p>
      </div>
  <div class="col-sm">
  </div>
  </div>
    <div class="row">
        <div class="col-sm">
            <a href="{{ url_for('auth.register') }}">Get Started →</a>
        </div>
        <div class="col-sm">
        </div>
    </div>
</div>
{% endblock %}