{% extends "base.html" %}


{% block app_content %}
<div class="center">
    <h2>Contact Us</h2>
    <div id="contact-form">
        <form target="_blank" method="POST" action=https://formspree.io/f/xleajnyk>
            <div class="row">
                <input type="hidden" name="_subject"  value="Contact request from personal website" />
                <input type="email" name="_replyto" class="form-control" placeholder="Your email" required>
            </div>

            <div class="row">
                <textarea name="message" class="form-control" placeholder="Your message" required></textarea>
             </div>

            <div class="row">
                <button type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}