{% extends "base.html" %}

{% block app_content %}
<br>
<br>
<div class=" card center text-center" style="width: 24rem;">
    <div class="card-header">
    <h4 class="card-title">User: {{ user.username }} </h4>
   </div>
    <br>
    <img class="card-img-top center" src="{{ user.avatar(256) }}" style="height:50%" alt="User Image">
    <br>
    <div class="card-body">
<!--        <h5 class="card-title">User: {{ user.username }} </h5>-->
        {% if user.last_seen %}
                <h6 class="card-subtitle mb-2 text-muted">Last seen on: {{ moment(user.last_seen).format('LLL') }}</h6>
        {% endif %}

        {% if user.about_me %}
            <p class="card-text">{{ user.about_me }}</p>
        {% endif %}

        <p class="card-text">{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>

        {% if user == current_user %}
            <p class="card-text"><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>

        {% elif not current_user.is_following(user) %}
            <p class="card-text">
                <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                    {{ form.hidden_tag() }}
                    {{ form.submit(value='Follow') }}
                </form>
            </p>
        {% else %}
        <p class="card-text">
            <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                {{ form.hidden_tag() }}
                {{ form.submit(value='Unfollow') }}
            </form>
        </p>
        {% endif %}
    </div>
</div>

<br>
<br>

    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ 'Newer posts' }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ 'Older posts' }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}
